.registeration-section{
    display: flex;
    justify-content: center;
    align-items:center;
    height:calc(100vh - 60px);
    background-color: #f1f1f1;

}
.registration-container{
    width:400px;
    height:460px;
    background-color: #fff;
    border-radius:2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.register{
    margin-top:2vw;
    padding-inline:20px;
}
.register h2{
    font-size:2vw;
    text-align: center;
}
.name{
    margin-top:20px;
}
.name label{
    font-size:20px;
}

.name input{
    width:350px;
    height:35px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding:5px;
}
.buttons{
    margin-top:30px;
    padding-inline:20px;
}
.buttons p{
    color:#555;
    padding:18px;
}
.buttons>a{
    color:#fff;
    padding-inline:8.2vw;
    padding-block:0.5vw;
    background-color: #4caf50;
    border-radius:5px;
}
.login-buttons>a{
    color:#fff;
    padding-inline:10vw;
    padding-block:0.5vw;
    background-color:#c0c0c0;
    border-radius:5px;
}

.buttons>a:hover{
    background-color: #45a049;
}




