/* Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    background-color: #f1f1f1;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline:20px;
    width:420px;
    padding-block:35px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
.login-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
.login-form label {
    font-weight: bold;
    margin-bottom:10px;
    font-size:20px;
  }
  
.login-form input {
    width: 100%;
    padding: 10px;
    margin-block: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline:none;
    font-size:17px;
  }
  
.login-form button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    padding-inline:11.2vw;
    border: none;
    border-radius: 4px;
    font-size:15px;
    cursor: pointer;
    margin-block:15px;
  }
  
  .login-form button:hover {
    background-color: #45a049;
  }
  
 .login-form p {
    margin-top:20px;
    font-size:20px;
  }
  
.login-form a {
    color: #3498db;
    text-decoration: none;
  }
  
 
  